
<div id="container">
    <h1>Welcome to {{title}}!</h1>

    <div id="body">

        <p>The page you are looking at is being generated dynamically by {{title}}.</p>

        <p>If you would like to edit this page you'll find it located at:</p>
        <code>views/welcome_message.php</code>

        <p>The corresponding controller for this page is found at:</p>
        <code>controllers/welcome.js</code>

        <p>If you are exploring {{title}} for the very first time, you should start by reading the <a href="#" target="_blank">User Guide</a>.</p>
    </div>

    <p class="footer">{{title}} Version <strong>beta 0.0.0</strong></p>
</div>